body {
  padding: 50px;
}

.row {
    padding-bottom: 2rem;
}

.card-body label {
    width: 100%;
    font-weight: bold;
    padding-left: .4rem;
    padding-right: .4rem;
    padding-bottom: .4rem;
}

.card-body label span {
    font-weight: normal;
    float: right;
}

.clear {
    clear: both;
}