extends layout

block content
  .container(ng-controller='mainCtrl')
    .row
        .col-md-10.col-md-offset-1
            input#address.form-control(ng-model='address', type='text', name='address', placeholder='Address')
    .row
        .col-md-10.col-md-offset-1.text-right
            .col-sm-6
                button.btn.btn-primary(ng-click='getCoords()') Submit
            .col-sm-6.m-t-1(ng-if='location.length >= 1')
                select#locationSelect.form-control(ng-model='selectedIndex', ng-change='getWeather(selectedIndex)')
                        option(ng-repeat='(key, loc) in location', ng-value='{{key}}') {{ loc.formattedAddress }}
    #weatherContainer.row(ng-if='selectedLocation')
        .card
            .card-header.p-b-2
                .pull-xs-right
                    .btn-group
                        .btn.btn-xs.btn-secondary(ng-click="setWeather('minutely')") Minutely
                        .btn.btn-xs.btn-secondary(ng-click="setWeather('hourly')") Hourly
                        .btn.btn-xs.btn-secondary(ng-click="setWeather('daily')") Daily
                br.clear-fix
            .card-body
                textarea.form-control(ng-model='weatherData')
