extends layout

block content
  .container(ng-ctrl='mainCtrl')
    .row
        .col-md-6.col-md-offset-3
            input#address.form-control(type='text', name='address', placeholder='Address')
    .row
        .col-md-6.col-md-offset-3.text-right
            button.btn.btn-primary(ng-click='getCoords()') Submit
